name: Build
on:
  push:
    branches:
      - main
      - next
jobs:
  lint:
    uses: ./.github/workflows/lint.yml
  unittest:
    uses: ./.github/workflows/unittest.yml
  e2e:
    uses: ./.github/workflows/e2e.yml

  release:
    needs:
      - eslint
      - commitlint
      - unittest
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: yarn
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn release
