on:
  workflow_call:
jobs:
  e2e:
    continue-on-error: true
    strategy:
      matrix:
        node: [18, 20]
        strapi: [4.19, 4.24, 4.25]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - name: Install workspace dependencies
        run: yarn
      - name: Pack strapi-plugin-translate
        run: yarn workspace strapi-plugin-translate pack -f strapi-plugin-translate.tgz
      - name: Copy playground to e2e folder
        run: cp -r playground e2e
      - name: Configure strapi version for e2e test
        run: VERSION=${{ matrix.strapi }} envsubst < e2e/templates/template.package.json > e2e/package.json
      - name: Install e2e dependencies
        run: yarn
        working-directory: e2e
      - name: Add local strapi-plugin-translate
        run: yarn add ../plugin/strapi-plugin-translate.tgz
        working-directory: e2e
      - name: Build strapi for e2e tests
        run: yarn build
        working-directory: e2e
      - name: Run e2e tests
        run: yarn e2e
        working-directory: e2e
      - name: Upload cypress results on failure
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: cypress results (node=${{ matrix.node }},strapi=${{ matrix.strapi }})
          path: |
            e2e/cypress/videos/*
            e2e/cypress/screenshots/*
